/* Add screen styles below */
body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px;
}

h4 {
    font-size: 16px;
    margin-bottom: 0px;
    padding-bottom: 2px;
}

p {
    color: #818181;
    font-size: 13px;
    margin: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}

body {

}

.header {
    text-align: center;
}

.Main {
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;   
}

.Map {
    margin: 0 auto;
    margin-bottom: 20px;
    background-image: url(Map.jpg);
    background-size: 100% 100%;
    width: 1570px;
    height: 624px;
    position: relative;
}

#myDIV {
    height: 100px;
    width: 200px;
    border: 1px solid #E6E6E6;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 1px 0px 5px rgb(0, 0, 0, 0.4);
    position: relative;
    top: 150px;
    left: 320px;
    padding-left: 14px;
  }

#flood {
    height: 100px;
    width: 200px;
    border: 1px solid #E6E6E6;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 1px 0px 5px rgb(0, 0, 0, 0.4);
    position: relative;
    top: 210px;
    left: 1230px;
    padding-left: 14px;
  }

#outage {
    height: 100px;
    width: 200px;
    border: 1px solid #E6E6E6;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 1px 0px 5px rgb(0, 0, 0, 0.4);
    position: relative;
    top: 200px;
    left: 620px;
    padding-left: 14px;
  }

.tornado-icon {
    top: 100px;
    left: 400px;
    width: 57px;
    height: 57px;
    position: absolute;
}

.outage-icon {
    top: 280px;
    right: 820px;
    width: 57px;
    height: 57px;
    position: absolute;
}

.flood-icon {
    top: 400px;
    right: 210px;
    width: 57px;
    height: 57px;
    position: absolute;
}

.flood-text {
    width: 57px;
    height: 57px; 
}

.outage-text {
    width: 65px;
    height: 53px; 
}

  button {
    color: transparent;
    border: none;
  }

.tornado-text {
    width: 57px;
    height: 57px; 
}

.Mapkeys {
    display: flex;
    flex-direction: row;
}

.InfoBox {
    width: 70%;
    height: 230px;
    background-color: white;
    text-align: left;
    border: 1px solid #E6E6E6;
    box-shadow: 1px 0px 5px rgb(0, 0, 0, 0.4);
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px
}


tr {
    height: 70px;
}

.table-icon {
    width: 70px;
}

.place {
    text-align: left;
}

.location {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: right;
}

.date {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

.StormSeverity {
    width: 30%;
    height: 230px;
    background-color: white;
    text-align: left;
    border: 1px solid #E6E6E6;
    box-shadow: 1px 0px 5px rgb(0, 0, 0, 0.4);
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.keycolors {
height: 150px;
}

.low {
    background-color: #0DA50A;
    text-align: center;
    height: 40px;
    margin-bottom: 8px;
}

.medium {
    background-color: #FFE457;
    text-align: center;
    height: 40px;
    margin-bottom: 8px;
}

.high {
    background-color: #EA5858;
    text-align: center;
    height: 40px;
}